<!-- <p>navbar works!</p> -->

<!-- style="bottom:0px; width: 100%; position: fixed;" -->
<div class="bootstrap-wrapper" >
    <div class="container-fluid back" style = "background-color: #673ab7;">
        <div class="row">
            <div class="col-md-6" style="margin-left: 600px;">

                <mat-toolbar style = "background-color: #673ab7; color: white; " class="footer">
                    <button mat-icon-button class="example-icon mb10" aria-label="Example icon-button with menu icon">
                        <fa-icon [icon]="copyright"></fa-icon>
                    </button>
                    <a class="home-style mb10"><span>Copyright @2023 | Pariksha Exam Portal</span></a>
                    <span class="example-spacer"></span>
                </mat-toolbar>

            </div>


            <!-- <div class="col-md-6" >

                <mat-toolbar class="footer" style="flex-direction: row-reverse; background-color: #673ab7;">

                    <a style="margin-right: 10px; margin-bottom: 10px; color: white;" mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon" >
                        <p class="font-size"><fa-icon [icon]="facebook"></fa-icon></p>
                    </a>
                    <a style="margin-right: 10px; margin-bottom: 10px; color: white;" mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <p class="font-size"><fa-icon [icon]="instagram"></fa-icon></p>
                    </a>
                    <a style="margin-right: 10px; margin-bottom: 10px; color: white;" mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <p class="font-size"><fa-icon [icon]="twitter"></fa-icon></p>
                    </a>
                    <a style="margin-right: 10px;margin-bottom: 10px; color: white;" mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <p class="font-size"><fa-icon [icon]="youtube"></fa-icon></p>
                    </a>
                    <a style="margin-right: 10px;margin-bottom: 10px; color: white;" mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <p class="font-size"><fa-icon [icon]="whatsapp"></fa-icon></p>
                    </a>
                </mat-toolbar>


            </div> -->
        </div>
    </div>
</div>