<!-- <p>welcome works!</p> -->

<!-- <div class="bootstrap-wrapper mt20"   style="height: 628px;">
    <div class="container">
        <h1 style="color: white;">Welcome to the admin panel</h1>
    </div>
</div> -->


<div class="center" style="margin-bottom: 40px;">
    <ul>
        <!-- <li><span  style=color:#ff4081>L</span></li>
        <li><span  style=color:#ff4081>E</span></li>
        <li><span  style=color:#ff4081>N</span></li>
        <li>A</li>
        <li><span  style=color:#3f51b5>P</span></li>
        <li>&nbsp;</li>

        <li><span  style=color:#ff4081>N</span></li>
        <li><span  style=color:#ff4081>I</span></li>
        <li><span  style=color:#ff4081>M</span></li>
        <li>D</li>
        <li><span  style=color:#3f51b5>A</span></li> -->
        
        


        <li>L</li>
        <li>E</li>
        <li>N</li>
        <li>A</li>
        <li>P</li>
        <li>&nbsp;</li>

        <li>N</li>
        <li>I</li>
        <li>M</li>
        <li>D</li>
        <li>A</li>

   </ul>
</div>