<!-- <p>load-quiz works!</p> -->

<div class="bootstrap-wrapper">
    <div class="container-fluid" >
        <h1 style="margin-top: 20px;">Available Quizzes</h1>

        <div class="row" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let q of quizzes">
                <!-- <h3>{{q.title}}</h3> -->
                <mat-card class="mb10">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <button mat-button color="primary">View</button> -->
                        <button mat-raised-button style="background-color: #673ab7; color: white;" [routerLink]="'/user-dashboard/instructions/'+q.qid">Start</button>
                        <button mat-button style="color: #673ab7;">Questions {{q.noOfQuestions}}</button>
                        <button mat-button style="color: #673ab7;">Max.Marks {{q.maxMarks}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-md-12"*ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-content>
                        <h1>No data in this category</h1>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
</div>
