<!-- <p>home works!</p> -->

<!-- <h1>Welcome to ExamPortal</h1> -->
<div class="bootstrap-wrapper">
    <div class="container ">
        <div class="row mt10 mb20">
            <div class="col-md-6 offset-md-3 text-center">
                <!-- <h1 style="color: white;">Welcome to Exam Portal</h1> -->
                <!-- <button class = "mt10 mb20" style = "background-color: #673ab7; color: white;"mat-raised-button>Home Page</button> -->
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-wrapper" style="margin-bottom: 140px;">
    <div class="container mt10">
        <div class="img">
            <img src="../../../assets/welcome2.jpg" style="margin-top: 98px;" alt="" srcset="">
        </div>
    </div>
</div>
